<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/public/img/logo.png" type="image/png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/public/styles/style.css" />
  <title>Drop Here</title>
</head>

<body>
 
  <nav>
    <div class="logo">
      <img src="/public/img/logo.png" alt="DropHere" id="navbarLogo" />
      <!-- <p id="navbarText"><strong>Drop</strong>here</p> -->
    </div>
    <h2><strong>Drop Here</strong></h2>
    <div class="nav-items" id="navItems">
      <a href="/">Home</a> <a href="/">About Us</a> <a href="/">Contact</a>
    </div>
  </nav>
</body>

</html>