<%- include('partials/header'); -%>


    <div id="cta">
        <div id="sendBox">
            <div id="sendText">
                <p>Send</p>
            </div>
            <div id="fileList">

            </div>
            <div>
                <img src="/public/img/add.png" id="addButton" alt="add files">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="selectFiles" multiple hidden>
                    <button type="submit">Upload</button >
                </form>
            </div>
        </div>

        <div id="recieveBox">
            <div id="recieveText">
                <p>
                    Recieve
                </p>
            </div>


            <form action="/list" method="get">
                <input type="number" name="token" id="token">
                <button type="submit">List</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer'); -%>