<%- include('partials/header'); -%>
  <div class="hero-container container ">
    <div class="row justify-content-center">
      <div>
        <h1>Your file(s) Upload succesfully, Token id is:<%= token %>
        </h1>
      </div>
    </div>
  </div>
  
  <div>
    <img src="../public/img/uploadImage.png" alt="illustration" id="uploadImage" />
  </div>
  <%- include('partials/footer'); -%>